{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body %}
    <h1>Edit Team</h1>

    {{ include('team/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_team_index') }}"><button type="button" class="btn btn-success">Back To List</button></a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
